body {
    background-color: lightblue;
    text-align: center;
}

.header {
    font-family: "Times New Roman", Verdana, sans-serif;
    font-size: 48px;
    color: black;
}

.recipes {
    font-size: 24px;
    margin-bottom: 20px;
}

.recipes .pizza {

}

.image {
    width: 300px;
    height: auto;
}

span {
    display: block;
}
